.zdjecia
{
position: relative;
width: 100%;
height: auto;
}
#gal
{
	width: 100%;
	height: 100%;
}
.wroc{
	position: relative;
	width: 90px;
	height: 90px;
	display: inline-block;
	text-align: right;
	background-image: url("../res/icons/arrow 1.png");
	background-repeat: no-repeat;
	background-position: center;

}
.dalej
{
	position: relative;
	display: inline-block;
	float: right;
	width: 90px;
	height: 90px;
	text-align: right;
	background-image: url("../res/icons/arrow 3.png");
	background-repeat: no-repeat;
	background-position: center;
}

.gal
{
	background-color: #e9e0d9;
}